body {
    background: rgb(96, 127, 81);
    color: rgb(8, 7, 7);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#all-contents {
  max-width: 900px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(146, 174, 131);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 20px;
    outline-style: outset;
    outline-width: 2ch;
    outline-color:rgb(182, 228, 182)
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(42, 47, 43);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #feeeee;
}

/* main container area beneath menu */
main {
    background: rgb(241, 244, 241);
    display: flex;
}
.sidebar {
    margin-right: 5px;
    padding: 60px;
}

         /* portfolio styles */
         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }