body {
  margin: 0px;
  
}

canvas {
  background-image: url("https://images.unsplash.com/photo-1524351543168-8e38787614e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhcGhpY3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-size:100%;
}

img {
  display: none;
}
